[submodule "Klavier"]
	path = Klavier
	url = git@github.com:MUK-research/Klavier.git
[submodule "tools"]
	path = tools
	url = git@github.com:AdrianArtacho/git_tools.git
[submodule "PianoRules"]
	path = PianoRules
	url = git@github.com:MUK-research/PianoRules.git
[submodule "440Hz"]
	path = 440Hz
	url = git@github.com:MUK-research/440Hz.git
[submodule "Tutor"]
	path = Tutor
	url = git@github.com:MUK-research/Tutor.git
[submodule "Tagung/Tagung/Tagung"]
	path = Tagung/Tagung-Proposal
	url = git@github.com:AdrianArtacho/Tagung.git
